CompileFlags:
  Compiler: "C:/Users/shekar/tools/w64devkit/bin/g++.exe"
  Add:
    - "-std=c++17"
    - "-Icpp_backend/include"
    - "-Ic:/Users/shekar/OneDrive/Desktop/C++ PROJECT/cpp_backend/include"
    - "-IC:/Users/shekar/tools/pgsql/include"
