CompileFlags:
  Add:
    - "-std=c++17"
    - "-IC:/Users/shekar/OneDrive/Desktop/C++ PROJECT/backend"
    - "-isystem"
    - "C:/Users/shekar/tools/w64devkit/lib/gcc/x86_64-w64-mingw32/13.2.0/include/c++"
    - "-isystem"
    - "C:/Users/shekar/tools/w64devkit/lib/gcc/x86_64-w64-mingw32/13.2.0/include/c++/x86_64-w64-mingw32"
    - "-isystem"
    - "C:/Users/shekar/tools/w64devkit/lib/gcc/x86_64-w64-mingw32/13.2.0/include/c++/backward"
    - "-isystem"
    - "C:/Users/shekar/tools/w64devkit/lib/gcc/x86_64-w64-mingw32/13.2.0/include"
    - "-isystem"
    - "C:/Users/shekar/tools/w64devkit/lib/gcc/x86_64-w64-mingw32/13.2.0/include-fixed"
    - "-isystem"
    - "C:/Users/shekar/tools/w64devkit/x86_64-w64-mingw32/include"
    - "-Wall"
